
.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 200px;
}

.formGroup__Item {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.login__input {
  width: 100%;
}

.litebox__button {
  width: 50%;
  padding-top: 1em;
  padding: 0.5em;
  border-radius: 2em;
  background-color: #d9d9d9;
  font-size: 24px;
  border: none;
}

.litebox__button:hover {
  background-color: #d0d0d0;
  cursor: pointer;
}
