.list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;

  max-height: 300px;
  min-height: 100px;
  overflow: auto;
  user-select: none;
}

.list > li {
  cursor: pointer;
  display: flex;
  align-items: center;
}
