.selectionGroup_select {
  min-width: 300px;
}

.selectionGroup_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectionGroup__button_container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  margin-top: 1em;
}

/* .flex_center {

} */
