body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #c6c6c6;
  font-size: 18px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2,
h3,
h4 {
  font-weight: 500;
  font-size: 1em;
}

.litebox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 600px;

  /* font-size: 24px; */
  font-size: 1.3em;

  background-color: #fff;
  padding: 2em;
}

.litebox__header {
  font-weight: 400;
  margin: 0;
  padding: 0.3em 0;
  font-size: 1.5em;
}

.action_header {
  position: relative;

  /* font-size: 42px; */
  font-size: 2.25em;
  font-weight: 500;
  text-align: center;
  padding: 0.5em 0;
  margin: 0;
}

.page {
  padding: 0 2em;
}

.step {
  display: flex;
  flex-direction: column;
  /* font-size: 18px; */
  font-size: 1em;
  background-color: #fff;
  border-radius: 8px;
  padding: 2em;

  margin: 2em 0;
}

.step:first-of-type {
  margin-top: 0;
}

.step__bage {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border: 1px solid #000;
}

.step__header {
  /* font-size: 24px; */
  font-size: 1.3em;
  font-weight: 500;
  margin: 0.4em 0;
}

.step__container {
  display: flex;
  flex-direction: column;
  /* font-size: 16px; */
  font-size: 1em;
}

.step__button {
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.2em 0.4em;
  margin: 0.4em 0;
  cursor: pointer;
}

.step__button:hover {
  background-color: #eee;
}

.step__message_container {
  color: rgb(0, 197, 0);
}

.next_step__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1em;
}

.next_step__message {
  color: #858585;
  margin: 0;
  padding: 0;
}

.message_error {
  color: red;
}

.message_success {
  color: rgb(0, 197, 0);
}

.no_offsets {
  margin: 0;
  padding: 0;
}

.message_success__container {
  border-radius: 4px;
  background-color: #d7f8ae;
  color: #477916;
  display: flex;
  align-items: center;
  padding: 0.4em 0.6em;
  margin-right: 1em;
}

.step__message_container > p {
  margin: 0;
}

.table {
  width: 100%;
}

.table,
th,
td {
  border-collapse: collapse;
  text-align: left;
}

.table th {
  /* font-size: 12px; */
  font-size: 0.8em;
  font-weight: 500;
}

.table td {
  font-size: 0.8em;
}

.table tr {
  border-bottom: 2px solid #c9c9c9;
}

.table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

.table__container {
  max-height: 600px;
  overflow: auto;
  margin: 1em 0;
}

.table_vertical_borders td {
  border-right: 2px solid #c9c9c9;
}

.table_vertical_borders td:first-of-type {
  border-left: 2px solid #c9c9c9;
}

.limit__input {
  height: 100%;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: #eee;
}

.warning {
  color: #ef8b17;
}

.apply_button__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list_without_decorations {
  list-style: none;
  padding: 0;
}

.textarea {
  width: 100%;
}

.progress_screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.5);
}

.progress_icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.progress_icon_small {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.load_content_container {
  position: relative;
  width: 100%;
  min-height: 300px;
}

.load_content_container_small {
  position: relative;
  /* width: 100%; */
}

.same_line_with_wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: middle;
}

.step_list {
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
  padding-left: 1em;
  margin-bottom: 1em;
}


@media (min-height: 1024px) {
  .table__container {
    max-height: 900px;
  }
  body {
    font-size: 24px;
  }
}